{% extends "two_column_body.html" %}
{% import "macros.html" as macros %}
<!-- question.html -->
{% block title %}{% spaceless %}{{ question.get_question_title() }}{% endspaceless %}{% endblock %}
{% block meta_description %}
        <meta name="description" content="{{question.summary}}" />
{% endblock %}
{% block keywords %}{{question.tagname_meta_generator()}}{% endblock %}
{% block forestyle %}
    <link rel="canonical" href="{{settings.APP_URL}}{{question.get_absolute_url()}}" />
    <link rel="stylesheet" type="text/css" href="{{"/js/wmd/wmd.css"|media}}" />
{% endblock %}

{% block content %}
<h1><a href="{{ question.get_absolute_url() }}">{{ question.get_question_title() }}</a></h1>

{% include "question/question_table.html" %}
{% include "question/question_answer.html" %}
{% include "question/question_user_answer.html" %}
{% endblock %}

{% block sidebar %}
{% include "question/question_sidebar.html" %}
{% endblock %}

{% include "question/question_javascript.html" %}


<!-- end question.html -->




